.itemcontainer{
    display:flex;
    align-items:center;
    background-color:#f7f7f7;
    border-radius:30px;
    padding:15px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
}

.todocheckbox{
    margin-right: 12px;
    transform: scale(1.2);
} 

.todotextname{
    font-size: 25px;
    color: #070708;
    flex-grow: 1; 
}

.todo-item-container:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.deleteButton {
    padding: 12px 20px;
    border: none;
    background-color: hsl(311, 86%, 72%);
    color: white;
    border-radius: 24px;
    cursor: pointer;
    margin-left: auto; 
}

.strikethrough {
    text-decoration: line-through;
    color: gray;
  }



